<p id="notice">
    <%= notice %>
</p>
<p>
    <strong>Survey:</strong>
    <%= @question.survey_id %>
</p>
<p>
    <strong>Name:</strong>
    <%= @question.name %>
</p>
<p>
    <strong>Mcq:</strong>
    <%= @question.mcq %>
</p>
