<section class="container my-xs-40 my-15">
	<div class="card">
    <div class="card-body">
        <h5>Editing Comment</h5>
        <%= render 'comments/form', comment: @comment %>
    </div>
</div>
</section>