<div class="alert alert-success mb-0 zi-1000 w-auto">
    <div class="container">
        <div class="alert-icon">
            <i class="material-icons">check</i>
        </div>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true"><i class="material-icons" style="color: brown;">clear</i></span>
        </button>
        <b>Success alert:</b><span>The invitations have been sent successfully</span>
    </div>
</div>